<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="4e3ea297-fd1e-44d4-b615-c2e996a5772a" Publisher="CN=ChrisGu" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="4e3ea297-fd1e-44d4-b615-c2e996a5772a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ComponentOne Studio UWP Edition</DisplayName>
    <PublisherDisplayName>GrapeCity Inc.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ControlExplorer2015.App">
      <uap:VisualElements DisplayName="ComponentOne UWP Edition Control Explorer" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="This demo showcases the ComponentOne Studio UWP Edition controls. These controls give you powerful and unique functionality to help you build better and more compelling Universal windows platform apps. Get data input with DateTime editors and datagrids, document viewing with a PDF viewer control, and much more. ComponentOne is the largest component vendor in the Microsoft Visual Studio Partner Ecosystem." BackgroundColor="#9F2132">
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#9F2132" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>